# Ignore Gradle files
.gradle/
build/

# Ignore Android Studio files
.idea/
*.iml

# Ignore local configuration files
local.properties

# Ignore logs
*.log

# Ignore keystore files (for signing the APK)
*.keystore
*.jks

# Ignore Android-specific files
captures/

# Ignore other OS-specific files
.DS_Store
Thumbs.db

# Ignore gradle wrapper files if you don't want them tracked (optional)
gradle/wrapper/gradle-wrapper.properties